.overview{
    .agents-work-history{
    border-radius: 15px;
    .MuiTable-root { 
        .MuiTableHead-root { 
            .MuiTableRow-root{ 
                .MuiTableCell-root{
                    color:white;
                    background-color: black ;
    }}}}
}
}