.message {
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 80%;
    width:125px;
    //font-weight: bold;
}

.details {
    font-size: 80%;
    line-height: 40%;
    width:125px;
}

.time {
    color: grey;
    width:125px;
}

.green {
    color: green;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.blue {
    color: blue;
}