.navbar{
    padding: 10px 0px;
    background-color: white;
    margin-bottom: 1px;
}
.search-select{
    color: green;
}

.search-select .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input:focus{
    background-color:white;
}