.l-sidebar .css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    position: static;
    border-right-width: 0px;
}

.open {
    .MuiDrawer-paper{
        width:100%;
        //width: 184px;
    }
}

.close {
    .MuiDrawer-paper{
        width:100%;
        //width: 60px;
        overflow: hidden;
    }
}

.toggler{
    background-color: white;
    border-width: 0px;
}
