.site-layout-background {
  background: #fff;
}

.l-l-s {
  height: 100vh;
}

.timeline {
  background-color: white;
  padding-left: 1%;
}

.page-content{
  display: flex;
}

.content{
  flex-grow: 2;
  margin: 3px;
}
